<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hello</h1>
    <p>There is an update in your user area. Please <%= link_to 'Log In for Details', root_path %>.</p>
  </body>
</html>

