<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>HELLO</h1>
      <p>There is a new Artifact in your user area. Please <%= link_to 'Log In for Details', new_user_session_path %>.</p>
  </body>
</html>
